body{
    background: -webkit-linear-gradient(left, #26539b, #5975aa, #26539b);
}
.form-photo{
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    display: block;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.card{
    margin-top: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
table{
    margin-top: 30px;
}
th{
    width: 50%;
}