<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="Fiq3U2tO5IFshMGpvgJv4VgRMQr176Jcl40KOmLXj6LTfQ2iS4GUD6CkjvbZfmIu">
    <tr><th><label for="id_photo">Photo:</label></th><td><input type="file" name="photo" required id="id_photo"></td></tr>
    <tr><th><label for="id_signature">Signature:</label></th><td><input type="file" name="signature" required id="id_signature"></td></tr>
    <input type="submit" value="Submit">
</form>

</body>
</html>